services:

  hostA1:
    image: alpine:latest
    container_name: hostA1
    networks:
      ge-000-docker:
        ipv4_address: 10.0.0.2
    privileged: true
    command: |
      sh -c "
      ip route del default 2>/dev/null || true;
      ip route add default via 10.0.0.1;
      sleep infinity
      "


  hostA2:
    image: alpine:latest
    container_name: hostA2
    networks:
      ge-000-docker:
        ipv4_address: 10.0.0.3
    privileged: true
    command: |
      sh -c "
      ip route del default 2>/dev/null || true;
      ip route add default via 10.0.0.1;
      sleep infinity
      "


  hostB1:
    image: alpine:latest
    container_name: hostB1
    networks:
      ge-001-docker:
        ipv4_address: 10.0.1.2
    privileged: true
    command: |
      sh -c "
      ip route del default 2>/dev/null || true;
      ip route add default via 10.0.1.1;
      sleep infinity
      "


  hostB2:
    image: alpine:latest
    container_name: hostB2
    networks:
      ge-001-docker:
        ipv4_address: 10.0.1.3
    privileged: true
    command: |
      sh -c "
      ip route del default 2>/dev/null || true;
      ip route add default via 10.0.1.1;
      sleep infinity
      "


networks:
  ge-000-docker:
    external: true
  ge-001-docker:
    external: true
